.test-box{
    background:#9db6dd;
    margin: 50px;
    width: 200px;
}

.test-box-nosizing{
    border: 10px solid black;
    padding: 40px;
}

.test-box-sizing{
    box-sizing: border-box;
    width: auto;
}